{% extends "base.html"%}
{% load static from staticfiles %}

{% block navigator %}
              <ul class="nav">
                <li class="active"><a href="{% url home %}">Home</a></li>
                <li><a href="{% url products %}">Products</a></li>
                <li><a href="{% url events %}">Events</a></li>
                <li><a href="{% url gallery %}">Gallary</a></li>
                <li><a href="{% url aboutus %}">About</a></li>
                <li><a href="{% url contactus %}">Contact</a></li>
              </ul>
{% endblock %}

