{% extends "base.html"%}
{% load static from staticfiles %}

{% block navigator %}
              <ul class="nav">
                <li class="active"><a href="{% url home %}">Home</a></li>
                <li><a href="{% url products %}">Products</a></li>
                <li><a href="{% url events %}">Events</a></li>
                <li><a href="{% url gallery %}">Gallary</a></li>
                <li><a href="{% url aboutus %}">About us</a></li>
                <li><a href="{% url contactus %}">Contact</a></li>
              </ul>
{% endblock %}

{% block events %}
    <div id='mholder'>
    {% for event in events %}
        <a href='{% url events %}' class="marqueeElement">
            {{ event.title|capfirst }} ({{ event.date_of_event|date:'b d, Y'|capfirst }})
        </a>
    {% endfor %}
    </div>
{% endblock %}

{% block script %}
<script src="{% static "js/custom-scroller.js" %}"></script>
{% endblock %}