{% extends "base.html"%}
{% load static from staticfiles %}

{% block title %}Products - {% endblock %}

{% block navigator %}
              <ul class="nav">
                <li><a href="{% url home %}">Home</a></li>
                <li class="active"><a href="{% url products %}">Products</a></li>
                <li><a href="{% url events %}">Events</a></li>
                <li><a href="{% url gallery %}">Gallary</a></li>
                <li><a href="{% url aboutus %}">About us</a></li>
                <li><a href="{% url contactus %}">Contact</a></li>
              </ul>
{% endblock %}

{% block bigcontent %}{% endblock %}
{% block content %}
    <div class="row tgap">
        <div class="span10">
            <legend>Our products</legend>
            <p>These are the list of our products. A full description of each products is illustrated in each column. You can find out what you are looking for. And contact us from our <a href="{% url contactus %}">contact us</a> page.</p>
            <br>

            {% for product in products %}
            <h4 class="evnt-title">{{ product.name|capfirst }}</h4>
            <div class='well'>
                <!-- <h3>{{ product.name|capfirst }}</h3> -->
                <p>{{ product.category }}</p>
                <p>{{ product.launched }}</p>
                {% if product.picture %}
                <a href="/media/{{ product.picture }}" class="thumbnail">
                    <img src="/media/{{ product.picture }}"></img>
                </a><br>
                {% endif %}
                <p>{{ product.description }}</p><br>
            </div>
            {% endfor %}
        </div>
    </div>
    {% with pagi=products %}
    {% include "pagination.html" %}
    {% endwith %}
{% endblock %}
